<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EXEPath" value="E:\UiPath-Project\Addagent.bat"/>
    <add key="IntervalInMin" value="5"/>
    <add key="ServiceName" value="MyWinService"/>
    <add key="ServiceDisplayName" value="My Window service"/>
    <add key="Description" value="Window service demo"/>
    <add key="CheckExeStatusHour" value="2"/>
  </appSettings>
</configuration>